html,body,.container {
  margin: 0;
  height: 100%;
  overflow: hidden
}

.container {
  display:table;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0px;
  padding-right: 0px;
}

.yili-row {
  height: 100%;
  display: table-row;
}

.pro-container {
  height:100%;
  width: 100%;
  position: absolute
}

.full-stretch {
  height: 100%;
}

.row .no-float {
  display: table-cell;
  float: none;
}

.show-image {
  opacity: 0;
};

.left-disappear {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.right-disappear {
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
