<div class="detail-container">
  <div class="description">
    <p>In this example, we have created a fixed background image that will disappear slowly on scroll. Scroll the page to see the effect. <strong>Note:</strong> Try to remove the background-attachment property to really understand this example.</p>
    <p>In this example, we have created a fixed background image that will disappear slowly on scroll. Scroll the page to see the effect. <strong>Note:</strong> Try to remove the background-attachment property to really understand this example.</p>
    <p>In this example, we have created a fixed background image that will disappear slowly on scroll. Scroll the page to see the effect. <strong>Note:</strong> Try to remove the background-attachment property to really understand this example.</p>
    <p>In this example, we have created a fixed background image that will disappear slowly on scroll. Scroll the page to see the effect. <strong>Note:</strong> Try to remove the background-attachment property to really understand this example.</p>
    <p>In this example, we have created a fixed background image that will disappear slowly on scroll. Scroll the page to see the effect. <strong>Note:</strong> Try to remove the background-attachment property to really understand this example.</p>
    <p>In this example, we have created a fixed background image that will disappear slowly on scroll. Scroll the page to see the effect. <strong>Note:</strong> Try to remove the background-attachment property to really understand this example.</p>

  <div>
  <div class="dyna-bg" style="background-image:url('/images/main/Project2-3-Produit.jpg')">
  </div>

  <div class="two-img">
    <div class="row">
      <div class="col-md-6">
        <img src="/images/main/Project2-3-Produit.jpg">
      </div>
      <div class="col-md-6">
        <img src="/images/main/Project2-3-Produit.jpg">
      </div>
    </div>
  </div>

  <div class="one-img">
    <img src="/images/main/Project2-3-Produit.jpg">
  </div>

  <div class="two-img">
    <div class="row">
      <div class="col-md-6">
        <img src="/images/main/Project2-3-Produit.jpg">
      </div>
      <div class="col-md-6">
        <img src="/images/main/Project2-3-Produit.jpg">
      </div>
    </div>
  </div>

  <div class="dyna-bg" style="background-image:url('/images/main/Project2-3-Produit.jpg')">
  </div>

  <div class="one-img" style="margin-top:20px">
    <img src="/images/main/Project2-3-Produit.jpg">
  </div>

  <div class="one-img" style="margin-top:20px">
    <img src="/images/main/Project2-3-Produit.jpg">
  </div>

  <div class="one-img" style="margin-top:20px">
    <img src="/images/main/Project2-3-Produit.jpg">
  </div>

  <div class="main-pics">
    <div class="row">
      <div class="col-md-6" style="background-image:url('/images/main/Project2-3-Produit.jpg'); background-size:cover">
      </div>
      <div class="col-md-6" style="background-image:url('/images/main/Project2-3-Produit.jpg'); background-size:cover">
      </div>
    </div>
  </div>
</div>
