<!--
  Split the screen as two evenly, each side hold a bunch of images
  set an interval or user scroll up/down, the image with disappear/appear
  accordingly. In the image, set a certain block for the to link to the
  project detail page
-->

<div class="row yili-row" ng-show="isImageLoaded">

    <div class="yili-logo">
      <div>
        <progress-circle ng-model="progressBarConfig.curPercentage" size="progressBarConfig.size" min="0" max="100" thickness="progressBarConfig.thickness" offset="progressBarConfig.offset">
        </progress-circle>
      </div>
    </div>

    <div ng-repeat="proj in bgpics" class="pro-container" ng-style=" { 'z-index' : -proj.left.projectId } ">
      <div class="col-md-6 full-stretch" ng-attr-id="{{ 'left-' + proj.left.projectId }}" ng-style="getStyle(proj, 'left')">
        <!-- <div class="yili-decr-left">
          {{proj.left.description}}
        </div> -->
      </div>
      <div class="col-md-6 full-stretch" ng-attr-id="{{ 'right-' + proj.right.projectId }}" ng-style="getStyle(proj, 'right')">
        <div class="yili-decr-right" ng-click="goDetails(proj.right.href)">
          <div class="decri-title">{{proj.right.title}}</div>
          <div class="decri-content">{{proj.right.description}}</div>
          <div class="decri-icon text-center"><span class="glyphicon glyphicon-menu-right"></span></div>
        </div>
      </div>
    </div>
</div>
